.bm_h .addnew{margin-left:10px;padding-left:20px;background:url(http://www.weishangbbs.cn/static/image/common/addbuddy.gif) no-repeat 0 45%;}.bm_h .rss{margin-left:10px;padding-left:20px;background:url(http://www.weishangbbs.cn/static/image/common/feed.gif) no-repeat 0 45%;}